{{#each blogbatch as |blog|}}
  <section class="card">
    <a href="/blog/{{id}}">{{blogTitle}}</a>
    <p>{{blogBody}}</p>
    <p>Blogged by
      {{user.username}}
      on
      {{format_date createdAt}}
      at
      {{format_time createdAt}}.</p>
  </section>
{{/each}}