{{#if loggedIn}}
  <div>
    <section class="card">
      <input type="text" id="blogid" name="blogid" value="{{mapBlog.id}}" hidden></p>
      <h2>Title: {{mapBlog.blogTitle}}</h2>
      <p>Content: {{mapBlog.blogBody}}</p>
      <p>Blogged by
        {{mapBlog.user.username}}
        on
        {{format_date mapBlog.createdAt}}
        at
        {{format_time mapBlog.createdAt}}.</p>
    </section>

    <section class="card">
      <h2>Leave a comment:</h2>
      <textarea id="comment" name="comment" rows="5" cols="90">
      </textarea>
      <br>
      <button id="submit">Submit</button>
    </section>

    <section>
  <h3>Comments</h3>
  {{#each comments as |comment|}}
    <div class="comment">
      <p>ttttttttttttttttttttttttttttttttttttt{{comBody}}</p>
      <p>by {{comment.user}} on {{format_date createdAt}}</p>
    </div>
  {{/each}}
</section>
  </div>
  <script src="/js/comment.js"></script>
{{else}}
  <p>please log in first</p>
{{/if}}